<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perak</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perak</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
  <img src="../../assets/Kellie's Castle.jpg" alt="ion">
  <ion-card-header>
    <ion-card-title>Kellie's Castle</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Rumah Istana Kellie atau Rumah Kellas telah dibina pada tahun 1905 oleh seorang peladang getah terkemuka Scotland bernama William Kellie Smith. Bangunan tiga tingkat dibina mengikut reka bentuk sebuah istana Moghul di bandar Agra, India. Tukang-tukang binaan bangunan tersebut dibawa khas dari Madras.
  </ion-card-content>

</ion-card>