<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Terengganu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Terengganu</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
  <img src="../../assets/Panduan-Ke-Pantai-Batu-Buruk.jpg" alt="ion">
  <ion-card-header>
    <ion-card-title>Pantai Batu Buruk</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Pantai Batu Buruk merupakan pantai yang boleh dijalankan aktiviti mandi-manda yang terletak di Terengganu.Pantai Batu Buruk merupakan pantai terdekat dari pusat bandar, sekitar 1.5 kilometer. Ini menjadikannya sebagai tumpuan bagi rehlah bagi ramai penduduk tempatan selain pelancong.
  </ion-card-content>

</ion-card>
