<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Selangor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Selangor</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
   
  
  <img src="../../assets/taman-tema-air-menarik-selangor.jpg" alt="ion">
  <ion-card-header>
    <ion-card-title>WetWorld Water Park Shah Alam</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Destinasi taman tema air yang tidak asing lagi di Selangor yang telah beroperasi lebih 21 tahun.
  </ion-card-content>

</ion-card>