<ion-title>KERAJAAN</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Kerajan Langit</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
    <ion-card-header>
     <ion-card-title>Power Rangers</ion-card-title>
     </ion-card-header>
     <ion-card-content>
       <img src="https://pbs.twimg.com/ext_tw_video_thumb/1306178011608354817/pu/img/Wrh2XtUdhsP2baGX.jpg"
     <p>Ayah Pin telah menjadi power rangers baru</p>
  </ion-card-content>
    </ion-card>
  </div>
</ion-content>
